<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BitMapper">



<select id="getList" resultType="org.zerock.domain.BitVO">
<![CDATA[
	select * from tbl_bit
	]]>
</select>


<insert id="insert">
	insert into tbl_bit values(#{name}, #{mail}, #{password}) 
</insert>


</mapper>